.gitingore

*/part09-Part09_03.Warehousing/
*/part10-Part10_17.SortThemCards/
*/part11-Part11_10.FlightControl/
*/part11-Part11_11.ValidatingParameters/
*/part14-Part14_09.Asteroids
*/certificates/
*/mooc-devops/